/tienda_BPEL/nbproject/private/
/AplicacionLibroOnline/nbproject/private/
/tienda_BPEL/build/
/AplicacionLibroOnline/build/
/AplicacionLibroOnline/src/jbiServiceUnits/
/AplicacionLibroOnline/dist/
/AplicacionLibroOnline/test/results/
/CompositeApp1/nbproject/private/
/CompositeApp1/src/jbiServiceUnits/
/CompositeApp1/build/
/CompositeApp1/dist/