/tienda_BPEL/nbproject/private/
/AplicacionLibroOnline/nbproject/private/
/tienda_BPEL/build/
/AplicacionLibroOnline/build/
/AplicacionLibroOnline/src/jbiServiceUnits/
/AplicacionLibroOnline/dist/
/AplicacionLibroOnline/test/results/